@using BlogIT.Models;
@model Comment
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact</h2>
@using (Html.BeginForm("SaveMessage", "Comment", FormMethod.Post, new { id = "saveMessageForm" }))
{
  
    <div class="col-sm-6 col-md-6 col-lg-6">
        @Html.LabelFor(model => model.Subject)
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 pull-right">
       
        @Html.EditorFor(model => model.Subject)
    </div>
    <br>
    <div class="col-sm-6 col-md-6 col-lg-6">
        @Html.HiddenFor(model => model.IsPrivate)
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">

        @Html.LabelFor(model => model.NameSender)
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 pull-right">
      
        @Html.EditorFor(model => model.NameSender)
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        @Html.HiddenFor(model => model.ArticleId)
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        @Html.LabelFor(model => model.EmailSender)
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 pull-right">
      
        @Html.EditorFor(model => model.EmailSender)
    </div>
   
    <div class="col-sm-6 col-md-6 col-lg-6">
        @Html.HiddenFor(model => model.Date)
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6">

        @Html.LabelFor(model => model.Content)
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 pull-right">
       
        @Html.TextAreaFor(model => model.Content, new { cols = 35, @rows = 3 })
    </div>
    <button  class="btn btn-danger" id="submiting" >Send message</button>   @Html.ValidationSummary(true)
}
<script>
    $('#submiting').on('click', checkValidity());
    function checkValidity() {
        debugger
        if ($("#Subject").val() !="" && $("#NameSender").val() !="" && $("#EmailSender").val() !="" && $("#Content").val() !=""){
            $("saveMessageForm").submit();
        }
    }
    $(document).ready(function(){
        $("#ArticleId").val(0);
        $("#IsPrivate").val(true);
        $("#Date").val(new Date().toJSON().slice(0, 19));
    });
</script>
